<!--
<form #f="ngForm" (ngSubmit)="ajouter(f)"  >
  <label>id</label>
  <input type="number" name="id" ngModel required  />
  <div *ngIf="f.controls.id?.errors&&f.dirty&&f.submitted"class="c">
    le id ne doit pas être vide !
  </div>
<br>
  <label>name</label>
  <input type="text" name="name" ngModel  minlength="4" />
  <br>

  <div *ngIf="f.value.name?.toString().length<4&&f.submitted" class="c">
    le nom doit être supérieur a 3 !
  </div>

  <label>status</label>
  <input type="text" name="status" ngModel required />
  <div *ngIf="f.controls.status?.errors&&f.dirty&&f.submitted" class="c">
    le status ne  doit pas être vide !
  </div>
  <br>
  <button class="btn btn-warning" type="submit"  >Ajouter</button>
</form>
-->
<form #f="ngForm" class="form-group" (ngSubmit)="ajouter(f)" >
  <label>cin</label>
  <input type="number" name="cin" ngModel required class="form-control"  />
<div *ngIf="f.value.cin<1&&f.dirty&&f.submitted" class="c">
  cin ne doit pas être null !
</div>
  <label>nom</label>
  <input type="text" name="nom" ngModel required class="form-control" />
  <div *ngIf="f.value.nom?.length>4&&f.dirty&&f.submitted" class="c">
   le nom doit être composé au moins de 4 chiffres !
  </div>
  <label>age</label>
  <input type="number" name="age" ngModel required class="form-control" />
  <input type="text" name="nom" ngModel required class="form-control" />
  <div *ngIf="f.value.age<=0&&f.dirty&&f.submitted" class="c">
   le age doit être supérieur à zéro !
  </div>
  <label>date de naissance</label>
  <input type="date" name="date" ngModel required class="form-control"  />
  <input type="text" name="nom" ngModel required class="form-control" />
  <div *ngIf="!f.value.date&&f.dirty&&f.submitted" class="c">
   le date ne doit pas être vide  !
  </div>
  <button type="submit">ajouter</button>
</form>
{{f.value|json}}

